
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	font-size: calc(0.12em + 1vw);
	scroll-behavior: smooth;
}

body {
}

body::-webkit-scrollbar{
	display: none;
}

p {
}

a {
	color: black;
	text-decoration: none;
}

@media only screen and (max-width: 600px) {
  html {
	font-size: 62.5%;
  }
}
