/*FONTS*/
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500&display=swap");

@font-face {
  font-family: FontAwesome;
  src: url("../fonts/fontawesome-webfont.woff2")
}

@font-face {
	font-family: AGP-Medium;
	src: url("../fonts/AvantGardeGothicPro/ITCAvantGardePro-Md.otf");
}

@font-face {
	font-family: AGP-Bold;
  font-size: 2rem;
	src: url("../fonts/AvantGardeGothicPro/ITCAvantGardePro-Bold.otf");
}

@font-face {
	font-family: AGP-Demi;
	src: url("../fonts/AvantGardeGothicPro/ITCAvantGardePro-Demi.otf");
}

@font-face {
	font-family: AkkuratPro-Bold;
	src: url("../fonts/Akkurat/AkkuratPro-Bold.otf");
}

@font-face {
	font-family: Akkurat-Regular;
	src: url("../fonts/Akkurat/Akkurat.ttf");
}

