:root {
	--color-border: #dfe6e9;
	--color-border-light: #f6f6f6;
	--color-primary: red;
	--font-medium: 'AGP-Medium';
	--font-bold: 'AGP-Bold';
	--font-demi: 'AGP-Demi';
	--font-sub: 'AkkuratPro-Bold';
	--font-sub-regular: 'Akkurat-Regular'
}
