@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500&display=swap");

@font-face {
	font-family: GoogleSans-Regular;
	src: url("fonts/GoogleSansDisplay-Regular.ttf");
}

@font-face {
	font-family: GoogleSans-Display;
	src: url("fonts/GoogleSansDisplay-Bold.ttf");
}

:root {
	--color-bg: #d63031;
	--color-primary: #dfe6e9;
	--color-text-primary: #2d3436;
}

* {
	padding: 0;
	margin: 0;
}

html {
	font-size: 16px;
}

body {
	font-family: "GoogleSans-Display";
	background: repeating-linear-gradient(to right, white 0px, white 160px, #dfe6e9 160px, #dfe6e9 160.65px);
}

p {
	color: var(--color-text-primary);
}

a {
	text-decoration: none;
	color: var(--color-text-primary);
}

section {
	min-height: 30vh;
}

.button--main {
	font-size: 0.7rem;
	letter-spacing: 0.05rem;
	text-decoration: underline;
	text-underline-offset: 0.5rem;
}

.nav {
	border-bottom: 1px solid #dfe6e9;
	background-color: white;
	position: fixed;
	top: 0;
	width: 100vw;
	padding: 0.7rem 2rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 999;
}

.nav__links a {
	margin: auto 3rem;
	font-size: 0.8rem;
	letter-spacing: 0.1rem;
}

.nav__links a:hover {
	color: red;
}

.nav__current-page {
	color: red;
}

.header {
	height: 70vh;
	margin-top: 90px;
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
		url("images/bg-1.jpg");
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
}

.header h1 {
	margin: auto;
	font-size: 5rem;
	color: white;
	letter-spacing: -0.3rem;
}

.news {
	display: flex;
	justify-content: space-between;
	margin: 0 2rem;
}

.news__starred, .news__stacked {
	display: flex;
	width: 45%;
	flex-direction: column;
}

.news__starred {
	transform: translateY(-10vh);
	max-width: 45%;
}

.news__stacked {
	margin-top: 5rem;
}

.news__stack {
	display: flex;
	border: 1px solid #dfe6e9;
}

.news__starred img {
	width: 40vw;
	height: 20rem;
	object-fit: cover;
}

.news__stacked img {
	width: 12rem;
	height: 12rem;
	object-fit: cover;
}

.news__starred .news__contents {
	transform: translate(16rem, -8rem);
	border: 1px solid #dfe6e9;
	width: 50%;
}

.news__contents {
	background-color: white;
	width: 80%;
	padding: 2rem;	
	position: relative;
}

.news__contents h1 {
	transition: all ease 0.7s;	
}

.news__contents:hover h1 {
	color: red;
}

.news__stack:hover h1 {
	color: red;
}

.news__contents div {
	display: flex;
}

.news__contents div p {
	margin-bottom: 1rem;
	font-family: 'GoogleSans-Regular';
	font-size: 0.8rem;
}
.news__contents--date {
	color: grey;
	margin-right: 1rem;
}	

.news__contents--subtext {
	color: red;
}

.news__contents a {
	position: absolute;
	bottom: 0;
	padding-bottom: inherit;
	margin-top: 1rem;
}

.news__starred .news__contents h1 {
	margin-bottom: 5rem;
	line-height: 2.2rem;
	font-size: 2rem;
}

.news__starred .news__contents a {
	position: initial;
}

.news__stacked .news__contents h1 {
	font-size: 1.2rem;
}

.something {
	min-height: 80vh;
	background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('images/img-2.jpg');
	background-size: cover;
	border: 1px solid #dfe6e9;
	margin: 5rem;
	display: flex;
}

.something__box {
	margin: auto;
}
.something__box h1 {
	text-align: center;
	color: white;
	font-size: 5rem;
}

.something__box a {
	color: white;
}

.staff {
	display: flex;	
	flex-direction: column;
}

.staff p {
	color: grey ;
	margin: 1rem;
}

.staff__row {
	display: flex;
	margin: 0 auto;
}

.staff__column {
	padding: 2rem;
	width: 8rem;
	height: 8rem;
	border: 1px solid #dfe6e9;
	background-color: white;
}

.staff__column h1 {
	margin-bottom: 1rem;
	font-size: 1.5rem;
	line-height: 25px !important;
}

.staff__column p {
	color: red;
	font-size: 0.7rem;
	margin: 0;
}