@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500&display=swap");

@font-face {
	font-family: AGP-Medium;
	src: url("fonts/AvantGardeGothicPro/ITCAvantGardePro-Md.otf");
}

@font-face {
	font-family: AGP-Bold;
	src: url("fonts/AvantGardeGothicPro/ITCAvantGardePro-Bold.otf");
}

@font-face {
	font-family: AGP-Demi;
	src: url("fonts/AvantGardeGothicPro/ITCAvantGardePro-Demi.otf");
}

@font-face {
	font-family: AkkuratPro-Bold;
	src: url("fonts/Akkurat/AkkuratPro-Bold.otf");
}

@font-face {
	font-family: Akkurat-Regular;
	src: url("fonts/Akkurat/Akkurat.ttf");
}
:root {
	--color-border: #dfe6e9;
	--color-border-light: #f6f6f6;
	--color-primary: red;
	--font-medium: 'AGP-Medium';
	--font-bold: 'AGP-Bold';
	--font-demi: 'AGP-Demi';
	--font-sub: 'AkkuratPro-Bold';
	--font-sub-regular: 'Akkurat-Regular'
}

* {
	padding: 0;
	margin: 0;
}

html {
	font-size: 16px;
}

body {
	background: repeating-linear-gradient(to right, white 0px, white 160px, var(--color-border) 160px, #dfe6e9 160.65px);
}

p {
	// bitch i dont know
}

a {
	color: black;
	text-decoration: none;
}

section {
	min-height: 30vh;
}

.button--main {
	font-size: 0.7rem;
	letter-spacing: 0.05rem;
	font-family: var(--font-sub);
}

.nav {
	border-bottom: 1px solid var(--color-border);
	background-color: white;
	position: fixed;
	top: 0;
	width: 100vw;
	padding: 0.7rem 2rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 999;
}

.nav__img img {
	width: 3rem;
}

.nav__links a {
	margin: auto 3rem;
	font-size: 0.7rem;
	letter-spacing: 0.1rem;
	font-family: var(--font-demi);
}

.nav__links a:hover {
	color: red;
}

.nav__current-page {
	color: red;
}

.header {
	height: 70vh;
	margin-top: 65px;
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
		url("images/bg-1.jpg");
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
}

.header h1 {
	margin: auto;
	font-size: 5rem;
	color: white;
	letter-spacing: -0.3rem;
	font-family: var(--font-bold);
}

.news {
	display: flex;
	justify-content: space-between;
	margin: 0 2rem;
}

.news__starred, .news__stacked {
	display: flex;
	flex-direction: column;
}

.news__starred {
	transform: translateY(-10vh);
}

.news__stacked {
	margin-top: 5rem;
}

.news__stack {
	display: flex;
	border: 1px solid var(--color-border);
	border-bottom: 0;
}

.news__stack:last-child {
	border-bottom: 1px solid var(--color-border);
}

.news__starred img {
	width: 40vw;
	height: 20rem;
	object-fit: cover;
}

.news__stacked img {
	filter: brightness(70%);
	width: 12rem;
	height: 12rem;
	object-fit: cover;
}

.news__starred .news__contents {
	transform: translate(16rem, -8rem);
	width: 40%;
}

.news__contents {
	background-color: white;
	width: 80%;
	padding: 2rem;	
	position: relative;
}

.news__contents h1 {
	font-family: var(--font-bold);
}

.news__contents {
	transition: all ease 0.2s;	
}

.news__contents:hover h1 {
	color: red;
}

.news__stack:hover .news__contents{
	background-color: var(--color-border-light);
}

.news__stack:hover h1 {
	color: red;
}

.news__contents div {
	display: flex;
}

.news__contents div p {
	margin-bottom: 1rem;
	font-family: var(--font-sub-regular);
	font-size: 0.7rem;
}
.news__contents--date {
	color: grey;
	margin-right: 1rem;
}	

.news__contents--subtext {
	color: red;
}

.news__contents a {
	position: absolute;
	bottom: 0;
	padding-bottom: inherit;
	margin-top: 1rem;
}

.news__starred .news__contents h1 {
	margin-bottom: 5rem;
	line-height: 3.2rem;
	font-size: 3rem;
}

.news__starred .news__contents a {
	position: initial;
}

.news__stacked .news__contents h1 {
	font-size: 1.2rem;
}

.something {
	display: flex;
	flex-direction: column;
	min-height: 80vh;
	background: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url('images/banner.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	border: 1px solid var(--color-border);
	margin: 5rem 10rem;
}

.something h1 {
	font-family: var(--font-bold);
	color: white;
	width: 30%;
	margin: auto 3rem;	
	font-size: 5rem;
}

.something__box {
	border: 1px solid var(--color-border);
	width: 60%;
	height: 30vh;
	background-color: white;
	margin: 0 auto;
	transform: translateY(3rem);
}

.staff {
	margin: 5rem 10rem;
	display: flex;	
	flex-direction: column;
}

.staff p {
	color: grey;
	margin: 1rem;
	font-family: var(--font-sub);
}

.staff__row {
	display: flex;
}

.staff__column {
	padding: 2rem;
	width: 8rem;
	height: 8rem;
	border: 1px solid var(--color-border);
	background-color: white;
}

.staff__row .staff__column h1 {
	margin-bottom: 1rem;
	font-size: 1.5rem;
	line-height: 25px !important;
	font-family: var(--font-bold);
}

.staff__row .staff__column p {
	color: red;
	font-family: var(--font-sub);
	font-size: 0.7rem;
	margin: 0;
}

.gallery {
	margin: 0 10rem;
	background-color: red;
	height: 80vh;
	display: flex;
}

.gallery__hero {
}

.ads {
	display: flex;
	margin: 15rem 10rem 0 10rem;
	justify-content: space-between;
}

.ad__img {
	background:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('images/img-2.jpg');
	background-size: stretch;
	height: 70vh;
}

.ad--main {
	width: 65%;
	transform: translateY(-5rem);
	display: flex;
	flex-direction: column;
}

.ad--sub {
	width: 30%;
}

.ad--main .ad__img {
	background-position: left;
}

.ad--sub .ad__img {
	background-position: 90% 50%;
}

.ad__contents {
	background-color: white;
	padding: 2rem;
	transform: translate(50%, -50%);
	width: 60%;
}

.ad__contents h1 {
	font-family: var(--font-bold);
	font-size: 2.5rem;
	line-height: 2.5rem;
}

.ad__contents p {
	margin-top: 1rem;
	margin-bottom: 2rem;
	color: grey;
	font-family: var(--font-sub-regular);
	width: 70%;
